.introduction{
    height: 100vh;
    width: 100%;
    color: white;
    background-position: 100% 100%;
    background-size: cover;
}
.introduction p{
    color: white;
}
.introduction-container h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.introduction-container h1:hover{
    cursor: default;
    text-shadow: 0px 0px 5px white;
}
/* .introduction-container-about p{
    color: white;   
    text-align: center;
    /* margin-left: 150px;
    margin-right: 150px;
}
.introduction-container-about i{
    margin-left: 150px;
} */
.introduction-container-about{
    margin-left: 10%;
    margin-right: 10%;
}
.introduction-container-about p{
    text-align: center;
}
.primary-button{
    background-color: #52D857;
    height: 50px;
    border-radius: 20px;
    border: none;
    width: 13%;
}
.primary-button:hover{
    background-color: white;
}

.intro-content{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
.devstack{
    color: black;
    background-color: #EBECF0;
   border: #D6D7DA 3px solid;
   border-radius: 50px;
   transition: all 0.5s;

}
.devstack:hover{
    color: #52D857;
   background-color: #001220;
    border-radius: 50px;
    transform: scale(1.05);
}
.text h3{
    color: black;
    font-size: 40px;
}
.who-am-i{
    height: 75vh;
    background-size: 100% 100%;
    color: #52D857;
    transition: all 0.5s;
}
.who-am-i:hover{
    transform: scale(1.05);
    overflow: hidden !important;
}
pre{
    font-size: 15px;
    font-family: "Poppins", sans-serif !important;
}
.container-visionary{
    background-color: #001220;
    color: white;
    padding-top: 30px;
    padding-bottom: 70px;
    
}
.container-visionary h1, .container-visionary p{
    text-align: center;
    padding-top: 10px;
    
}
.container-visionary-p{
    color: black;
    font-size: 14px;
}
.container-visionary-h6{
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}


@media (max-width: 760px) {
    .introduction div h1{
        color: #ffffff;
        font-size: 28px;
        margin-left: 15px;
    }

    .primary-button{
        background-color: #52D857;
        height: 40px;
        border-radius: 20px;
        border: none;
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
        /* margin-right: 16px; */
        
    }
    .intro-content p{
        margin-left: 16px;
        font-size: 15px;
    }
    .introduction-container-about p{
        font-size: 12px;
        text-align: center;
        padding-bottom: 20px;    }
    .introduction-container-about i{
        font-size: medium;
        
    }
    .who-am-i{
        height: 100vh;
        background-size: 180% 100%;
        color: #52D857;
        background-position: center;
    }
    pre{
        font-size: 13px;
        font-family: "Poppins", sans-serif;
    }
    .container div div div h1{
        font-size: 25px;
        font-weight: bold;
    }
    .text h3{
        padding-top: 20px;
        font-size: 40px;
    }
    .devstack div h3{
        font-size: 21px;
    }

}