.introduction{
    height: 100vh;
    width: 100%;
    color: white;
    background-position: 100% 100%;
    background-size: cover;
}
.introduction p{
    color: white;
}
.introduction-container h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.introduction-container h1:hover{
    cursor: default;
    text-shadow: 0px 0px 5px white;
}
/* .introduction-container-about p{
    color: white;   
    text-align: center;
    /* margin-left: 150px;
    margin-right: 150px;
}
.introduction-container-about i{
    margin-left: 150px;
} */
.introduction-container-about{
    margin-left: 10%;
    margin-right: 10%;
}
.introduction-container-about p{
    text-align: center;
}
.primary-button{
    background-color: #52D857;
    height: 50px;
    border-radius: 20px;
    border: none;
    width: 13%;
}
.primary-button:hover{
    background-color: white;
}

.intro-content{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}


@media (max-width: 760px) {
    .introduction div h1{
        color: #ffffff;
        font-size: 30px;
        margin-left: 15px;
    }

    .primary-button{
        background-color: #52D857;
        height: 40px;
        border-radius: 20px;
        border: none;
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
        /* margin-right: 16px; */
        
    }
    .intro-content p{
        margin-left: 16px;
        font-size: 15px;
    }
    .introduction-container-about p{
        font-size: 12px;
        text-align: center;
        padding-bottom: 20px;    }
    .introduction-container-about i{
        font-size: medium;
        
    }


}