.projects-intro .primary-button{
    background-color: blue;
    color: white;
}
.projects-list{
    overflow: hidden;
}
.project{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
    animation: project-animation 10s linear infinite;
}
.project img{
    height: 220px;
    width: 100%;
}
.project:hover > .project-content{
    opacity: 0.8;
    transform: scale(1.03);
    cursor: pointer;
}
.project:hover{
    animation-play-state: paused;
}
.project-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: black;
    opacity: 0.8;
    height: 100%;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s;
}
.courses-intro{
    background-size: cover;
    height: 100vh;
    background-position: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.courses-intro-content
{
    width: 50%;
    color: white;
    border-left: 5px solid #52D857;
    padding-left: 30px;
    animation: courses-intro-animation 10s linear infinite;
}
.courses-intro-content h1{
    font-size: 75px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #52D857;
    border-bottom: 2px solid #52D857;
}
.courses-intro-content p{
    border-right: 2px solid white;
}
.container-education{
    padding: 20px;
    color: white;
    border-radius: 50px;
    background-color: #001220;
    box-shadow:  5px 5px 0px #d6d7da,
                 -5px -5px 0px #ffffff;
}
.container-education-p{
    color: white;
    font-size: 14px;
}
.container-education-h5{
    color: #52D857;
    font-weight: bold;
}
.container-education-skills{
    display: inline-block;
    border: #52D857 solid 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin: 5px;
    color: #52D857;
}
.container-education-style{
    color: #52D857;
}

@keyframes project-animation{
    0%{
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}
@keyframes courses-intro-animation{
    0%{
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}


@media(max-width:750px){

    .courses-intro-content{
        width: 100%;
        color: white;
        border-left: 5px solid #52D857;
        padding: 20px;
        margin: 20px;
        border-left: none;
        border-left: 2px solid #52D857;
    }
    .courses-intro-content h1{
        font-size: 35px;
        -webkit-text-stroke-width: 1px;
        
    }
    .courses-intro-content p{
        padding: 10px;
        
    }
}