.typewriter {
  color: #52D857;
  font-family: poppins;
}

.typewriter::after {
  content: '|';
  position: absolute;
  right: 0;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
} 