
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  background-color: #EBECF0;
}
body, html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flex-with-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
*{
  margin: 0;
  padding: 0;
}
.font-bold{
  font-weight: bold;
}
.font-size{
  font-size: large;
}
.n-box1{
  border-radius: 50px;
background: linear-gradient(145deg, #00101d, #001322);
box-shadow:  20px 20px 0px #00070d,
             -20px -20px 0px #001d33;
}
.n-box2{
  border-radius: 50px;
background: linear-gradient(145deg, #d4d4d8, #fbfdff);
box-shadow:  5px 5px 0px #d6d7da,
             -5px -5px 0px #ffffff;
}
/* Global.css */
:root {
  --background-color-light: #f8f8f8;
  --text-color-light: #333;
  --background-color-dark: #333;
  --text-color-dark: #f8f8f8;
}

[data-theme="dark"] {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}